.outline {
  border: 1px solid black;
  margin-top: 20px;
}

input, label {
  margin: 40px 0;
}

.error {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

.blue {
  color: blue;
}
